@charset "UTF-8";

body {
    background-color: rgb(233, 231, 231);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
h1 {
    color: rgb(100, 62, 92);
    background-color: rgb(218, 205, 210);
}
h2 {
    color: brown;
}
p {
    text-align: justify;
    color: brown;
}